.header{
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo-container img {
    width: 100px ;
    height: 100px;
}

.nav-item > ul  {
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
}

.nav-item > ul >li {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
     
}

.res-card {
    margin: 5px;
    width: 200px;
    height: auto;
    padding: 5px;
    border: 1px solid black;
}

.res-logo{
    
    width: 200px;
}

.filter-btn {
    cursor: pointer;
    margin: 10px;
    padding: 5px;
}

.Shimmer-container{
    display: flex;
    flex-wrap: wrap;

}
.shimmer-card {
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color: rgb(223, 222, 222);
    padding: 10px;
}

.login {
    padding: 2px 20px;
    cursor: pointer;
}

.filter {
    display: flex;
}

.search {
    margin: 10px;
    padding: 5px;
}